
ugine/vc15/\.vs/ugine/v15/Browse\.VC\.db

ugine/vc15/\.vs/ugine/v15/Browse\.VC\.opendb

ugine/vc15/x64/Debug/ugine\.tlog/CL\.command\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/CL\.read\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/CL\.write\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/link\.command\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/link\.read\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/link\.write\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/ugine\.lastbuildstate

ugine/vc15/x64/Debug/vc141\.idb

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/1e8098089a871c64/MESH\.ipch

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/228cd7f338862c1e/CAMERA\.ipch

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/fb55060e8a25e35c/MAIN\.ipch

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/33712ae4e733a1e0/TEXTURE\.ipch

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/c8c10bf34faf8747/BUFFER\.ipch

ugine/vc15/x64/Debug/mesh\.obj\.enc

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/f60ee796760390a4/ENTITY\.ipch

ugine/vc15/\.vs/ugine/v15/\.suo

ugine/vc15/ugine\.vcxproj\.user

ugine/vc15/x64/Debug/Buffer\.obj

ugine/vc15/x64/Debug/Camera\.obj

ugine/vc15/x64/Debug/Entity\.obj

ugine/vc15/x64/Debug/glew\.obj

ugine/vc15/x64/Debug/main\.obj

ugine/vc15/x64/Debug/Material\.obj

ugine/vc15/x64/Debug/Mesh\.obj

ugine/vc15/x64/Debug/Model\.obj

ugine/vc15/x64/Debug/pugixml\.obj

ugine/vc15/x64/Debug/Shader\.obj

ugine/vc15/x64/Debug/State\.obj

ugine/vc15/x64/Debug/Texture\.obj

ugine/vc15/x64/Debug/ugine\.log

ugine/vc15/x64/Debug/ugine\.tlog/unsuccessfulbuild

ugine/vc15/x64/Debug/vc141\.pdb

ugine/vc15/x64/Debug/Vertex\.obj

ugine/vc15/x64/Debug/World\.obj
